@tailwind base;
@tailwind components;
@tailwind utilities;

.input input {
    width: 350px;
    height: 500px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-indent: 10px;
    font-size: 20px;
    background: transparent;
    color: #fff;

}

.input input:focus {
    outline: none;
}

.input input:hover {
    /* background: #806ED3; */
    border: 2px solid #806ED3;
    background: transparent;
}

.input>div {
    text-align: center;
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(146, 146, 146);
    /* margin: 10px; */
    padding: 10px;
    border-radius: 4px;
    background: transparent;

}

.input>div:focus {
    outline: none;
}

.input>div:hover {
    border: 2px solid #806ED3;
    background: transparent;
}